<div class="container">
  <h1 class="container__title">Task Management</h1>
  <div class="container__filters">
    <div class="container__filters--left">
      <div class="search-title">
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input
            matInput
            [formControl]="titleFilter"
            placeholder="Placeholder"
          />
        </mat-form-field>
      </div>
      <div class="search-date">
        <mat-form-field appearance="outline">
          <mat-label>Select Date</mat-label>
          <input
            matInput
            type="date"
            [formControl]="dateFilter"
            placeholder="Enter date"
          />
        </mat-form-field>
      </div>
      <div class="sort-by-name">
        <mat-form-field appearance="outline">
          <mat-label>Sort by taskname</mat-label>
          <mat-select [formControl]="sortBy">
            <mat-option value="asc">Ascending</mat-option>
            <mat-option value="desc">Descending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="container__filters--right">
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="AddTask()">
          Add Task
        </button>
      </div>
    </div>
  </div>
  <div class="container__list">
    <h2 class="container__title">Task list</h2>
    <div class="table-wrapper">
      <div class="mat-elevation-z8 grid-container">
        <table mat-table class="table" [dataSource]="taskModel.dataSource">
          <ng-container
            *ngFor="let column of taskModel.displayedColumns; let index"
            [matColumnDef]="column.id"
          >
            <th mat-header-cell *matHeaderCellDef class="mat-head">
              {{ column.label }}
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'email-cell': column.id === 'email'
              }"
            >
              <ng-container *ngIf="column.id !== 'actions'">
                {{ element[column.property] }}
              </ng-container>
              <ng-container *ngIf="column.id === 'actions'">
                <mat-icon class="buttons-style" (click)="updateTask(element)"
                  >edit</mat-icon
                >
                <mat-icon class="buttons-style" (click)="deleteTask(element)"
                  >delete</mat-icon
                >
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="getDisplayedGroupsIds()"></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: getDisplayedGroupsIds();
              let even = even
            "
            [ngClass]="{ 'alternate-row': !even }"
          ></tr>
        </table>
      </div>
    </div>
  </div>
</div>
