<div class="main">
  <button mat-raised-button color="primary" routerLink="/taskManagementModule">
    Task Manager
  </button>
  <button mat-raised-button color="primary" routerLink="/day-9">
    Day-9 Task
  </button>
  <button mat-raised-button color="primary" routerLink="/day-10">
    Day-10 Task
  </button>
  <button mat-raised-button color="primary" routerLink="/day-11">
    Day- 11ask
  </button>
  <button mat-raised-button color="primary" routerLink="/day-12">
    Day- 12ask
  </button>
  <button mat-raised-button color="primary" routerLink="/profileModule">
    Day- 13ask
  </button>
  <button mat-raised-button color="primary" routerLink="/day-15">
    Day- 13ask
  </button>
  <button mat-raised-button color="primary" routerLink="/day-16">
    Day- 16day
  </button>
  <button mat-raised-button color="primary" routerLink="/postModule">
    Day- 19day
  </button>
  <button mat-raised-button color="primary" routerLink="/day-21">
    Day- 21day
  </button>
  <button mat-raised-button color="primary" routerLink="/day-22">
    Day- 22day
  </button>
  <button mat-raised-button color="primary" routerLink="/day-23">
    Day- 23day
  </button>
</div>

<!-- <div class="main-container">
  <div class="role-toggle">
    <button mat-flat-button color="primary" (click)="switchRole()">
      Switch Role
    </button>
    <p>
      You Are <span class="role">{{ isAdmin ? "Admin" : "User" }}</span>
    </p>
  </div>
  <div class="routes">
    <h6 (click)="navigate('/user')">Open User</h6>
    <h6 (click)="navigate('/admin')">Open Admin</h6>
  </div>
</div> -->
